{% extends 'dashboard.html' %}

{% block container %}
<div class="book-container">
    <div class="book-rep-photo"><img class="book-rep-image" src="../static/book/{{ book.id }}.jpg" alt=""></div>
    <div class="book-rep-infos">
        <div class="book-rep-title">{{ book.title }}</div>
        <div class="book-rep-author">{{ author.name }}</div>
        <div class="book-rep-genre">{{ genre }}</div>
        <div class="book-rep-description">
            <p>
                {{ book.description }}
            </p>
            <p class="author-bio">
                {{ author.biograpy }}
            </p>
        </div>
    </div>
    <div class="book-rep-price-users">
        <div class="swappers">People who want to swap it</div>
        <div class="users">
            <div class="user-box">
                <img class="user-profile-rep" src="../static/profiles/jules.jpg" alt="">
                <p class="username">Julesntizimira</p>
            </div>
        </div>
        <div class="book-rep-comments">
            <h1>Comments</h1>
            <div class="cont">
                {% for comment in book.comments %}
                <div class="comments-box">
                    <img class="commenter-profile" src="../static/profiles/{{comment.user_id}}.jpg" alt="">
                    <div class="comment" >diligent and persistent young man who has taken the time to create this inspiring compilation</div>
                </div>
                {% endfor %}
                <div class="comment-inputs">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div  class="input-comment">
                            {{ form.username(class="large", autofocus="") }}
                        </div>
                        <div>
                            <button class="send-btn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        const book = JSON.parse(document.getElementById('book').getAttribute('bookObj'))
    </script>
    
</div>
{% endblock %}