{% extends 'dashboard.html' %}

{% block container %}
<div class="book-container">
    <div class="book-rep-photo">
        <img class="book-rep-image" src="../static/images/{{ book.id }}.jpg" alt="">
        <div>
            <button id="{{ book.id }}" class="wish-btn">Wish</button>
            <button id="{{ book.id }}" class="offer-btn">Offer</button>
        </div>
        <div class="swappers">People who are offering it</div>
        <div class="users">
            {% for user in offers %}
                <div class="user-boxes">
                    <img class="user-profile-rep" src="../static/images/{{user.id}}.jpg" alt="">
                    <p class="username"><a href="{{ url_for('app_pages.room', user_id=user['id']) }}">{{ user['name'] }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="book-rep-infos">
        <div class="book-rep-title">{{ book.title }}</div>
        <div class="book-rep-author">{{ author.name }}</div>
        <div class="book-rep-genre">{{ genre }}</div>
        <div class="book-rep-description">
            <p>
                {{ book.description }}
            </p>
            <p class="author-bio">
                {{ author.biograpy }}
            </p>
        </div>
    </div>
    <div class="book-rep-price-users">
        <div class="swappers">People who want to swap it</div>
        <div class="users">
            {% for user in wishes %}
                <div class="user-boxes">
                    <img class="user-profile-rep" src="../static/images/{{user.id}}.jpg" alt="">
                    <p class="username"><a href="{{ url_for('app_pages.room', user_id=user['id']) }}">{{ user['name'] }}</a></p>
                </div>
            {% endfor %}
        </div>
        
        <div class="book-rep-comments">
            <h1>Comments</h1>
            <div class="cont">
                {% for comment in book.comments %}
                <div class="comments-box">
                    <img class="commenter-profile" src="../static/images/{{comment.user_id}}.jpg" alt="">
                    <div class="comment" >{{ comment.text }}</div>
                </div>
                {% endfor %}
                <div class="comment-inputs">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div  class="input-comment">
                            {{ form.text(class="large", autofocus="") }}
                            <button class="send-btn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {

    function Wish(book_id) {
        const data = {
            'user_id': '{{ current_user.id }}',
            'book_id': book_id
        };
        $.ajax({
            url: 'http://100.25.222.248:5500/api/v1/wishes',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function () {
                alert('added to wish list');
            }
        });
    }
    function Offer(book_id) {
        const data = {
            'user_id': '{{ current_user.id }}',
            'book_id': book_id
        };
        $.ajax({
            url: 'http://100.25.222.248:5500/api/v1/offers',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function () {
                alert('added to offer list');
            }
        });
    }

    $('.wish-btn').on('click', function () {
        const book_id = $(this).attr('id');
        Wish(book_id);
    });
    $('.offer-btn').on('click', function () {
        const book_id = $(this).attr('id');
        Offer(book_id);
    });
    });

</script>
{% endblock %}