<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradit</title>
    <link rel="stylesheet" href="../static/style/landing1.css">
    <link rel="stylesheet" href="../static/style/login.css">
    <link rel="stylesheet" href="../static/style/header.css">
    <link rel="stylesheet" href="../static/style/footer.css">
    <link rel="stylesheet" href="../static/style/about.css">
    <link rel="stylesheet" href="../static/style/dashboard.css">
    <link rel="stylesheet" href="../static/style/register.css">
    <link rel="stylesheet" href="../static/style/book.css">
    <link rel="stylesheet" href="../static/style/users.css">
    <link rel="stylesheet" href="../static/style/style.css" type="text/css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <div class="header-title">
            <h1>Tradit</h1>
        </div>
        <div class="bar">
            <div class="home"><a href="{{ url_for('app_pages.dashboard') }}">HOME</a></div>
            <div class="about"><a href="{{ url_for('app_pages.about') }}">ABOUT</a></div>
            <div class="about"><a href="{{ url_for('app_pages.about') }}">GENRE</a></div>
            <div class="about"><a href="{{ url_for('app_pages.about') }}">OFFER</a></div>
            <div class="about"><a href="{{ url_for('app_pages.about') }}">WISH</a></div>
            <div class="about"><a href="{{ url_for('app_pages.registerbook') }}">ADD Book</a></div>
            <div class="about"><a href="{{ url_for('app_pages.users') }}">COMMUNITY</a></div>
            <div class="profile-pic">
              {% if current_user %}
              <img src="../static/images/{{ current_user.id }}.jpg" alt="">
              {% endif %}
              <div class="tooltip"><a class="logout" href="{{ url_for('app_pages.logout') }}">Logout</a></div>
            </div>
            <div class="notification-bar">
                <img src="../static/icons/notifications.svg" alt="">
                <div class="notifications-count">3</div>
            </div>
            <div class="message-bar">
                <img src="../static/icons/icons8-message-50 (1).png" alt="">
                <div class="messages-count">4</div>
            </div>
        </div>
      </header>
      {% if books %}
      <div id="bookListContainer" bookList="{{ bookList }}"></div>
      {% endif %}
      {% if wishList %}
      <div id="wishListContainer" wishList="{{ wishList|tojson|safe }}"></div>
      {% endif %}
      {% if offerList %}
      <div id="offerListContainer" offerList="{{ offerList|tojson|safe }}"></div>
      {% endif %}
      {% block container %}
        <div class="dashboard-container">
            <div class="dashboard-transparant">
                <div class="find-container">
                    <div class="find-text">Find Books</div>
                    <div class="input-btn-search">
                        <input class="search-input" type="text">
                        <button class="search-btn">
                            <img class="search-icon" src="../static/icons/search.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="search-result"></div>
                <div class="list_title">Offers</div>
                <div class="grid-container">
                    <div class="grid-row">
                      
                        {% for book in offerList %}
                        <div class="grid-item">
                          <div class="book-photo-div">
                            <img class="book-image" src="../static/images/{{book.id}}.jpg" alt="">
                          </div>
                          <div class="book-infos">
                            <div class="book-title"><a href="{{ url_for('app_pages.book', book_id=book['id']) }}">{{ book.title }}</a></div>
                            {% for author in authors %}
                            {% if author.id == book.author_id %}
                            <div class="book-author">{{ author.name}}</div>
                            {% endif %}
                            {% endfor %}

                            {% for genre in genres %}
                            {% if genre.id == book.genre_id %}
                            <div class="book-genre">{{ genre.name }}</div>
                            {% endif %}
                            {% endfor %}
                            <div class="book-price">
                              <button id="{{ book.id }}" class="wish-btn">Wish</button>
                              <button id="{{ book.id }}" class="offer-btn">Offer</button>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      
                    </div>
                  </div>

                  <div class="list_title">WISH LIST</div>
                  <div class="grid-container">
                      <div class="grid-row">
                        {% for book in wishList %}
                        <div class="grid-item">
                          <div class="book-photo-div">
                            <img class="book-image" src="../static/images/{{book.id}}.jpg" alt="">
                          </div>
                          <div class="book-infos">
                            <div class="book-title"><a href="{{ url_for('app_pages.book', book_id=book['id']) }}">{{ book.title }}</a></div>
                            {% for author in authors %}
                            {% if author.id == book.author_id %}
                            <div class="book-author">{{ author.name}}</div>
                            {% endif %}
                            {% endfor %}

                            {% for genre in genres %}
                            {% if genre.id == book.genre_id %}
                            <div class="book-genre">{{ genre.name }}</div>
                            {% endif %}
                            {% endfor %}
                            <div class="book-price">
                              <button id="{{ book.id }}" class="wish-btn">Wish</button>
                              <button id="{{ book.id }}" class="offer-btn">Offer</button>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script type="text/javascript">

        const gridContainers = document.querySelectorAll('.grid-container');
        const scrollSpeed = 0.1; // Adjust this value to control the speed

        function handleWheel(event) {
          const gridRow = event.currentTarget.querySelector('.grid-row');

          if (event.deltaY > 0) {
            slideLeft(gridRow);
          } else {
            slideRight(gridRow);
          }
        }

        function slideLeft(gridRow) {
          const firstItem = gridRow.firstElementChild;
          const offset = (firstItem.offsetWidth + 50) * scrollSpeed; // Adjust speed here
          gridRow.style.transform = `translateX(-${offset}px)`;
          gridRow.appendChild(firstItem);
        }

        function slideRight(gridRow) {
          const lastItem = gridRow.lastElementChild;
          gridRow.style.transform = 'translateX(0)';
          gridRow.insertBefore(lastItem, gridRow.firstElementChild);
        }

        gridContainers.forEach(container => {
          container.addEventListener('wheel', handleWheel);
        });

     
     $(document).ready(function () {

      function SearchBook() {
        const searched = $('.search-input').val();
        const result = [];
        if (!searched) {
          $('.search-result').empty();
          return;
        }

        $.ajax({
            url: 'http://127.0.0.1:5500/api/v1/books',
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                const books = data;

                if (searched && books) {
                    const searchedArgs = searched.split(' ');

                    for (let book of books) {
                        for (let arg of searchedArgs) {
                            if (book.title.toLowerCase().includes(arg.toLowerCase()) || arg.toLowerCase().includes(book.title.toLowerCase())) {
                                if (!result.includes(book)) {
                                    result.push(book);
                                }
                            }
                        }
                    }

                    $('.search-result').empty();

                    for (let book of result) {
                        let a = $('<a>').addClass('search-p').text(book.title);
                        a.attr('href', '/book/' + book.id);
                        $('.search-result').append(a);
                    }
                }
            },
            error: function (error) {
                console.error('Error fetching books:', error);
            }
        });
      }
      $('.search-btn').on('click', function(){
        SearchBook()
      })
      $('.search-input').on('input', function () {
        SearchBook()
      })


      function Wish(book_id) {
          const data = {
              'user_id': '{{ current_user.id }}',
              'book_id': book_id
          };
          $.ajax({
              url: 'http://100.25.222.248:5500/api/v1/wishes',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function () {
                  alert('added to wish list');
              }
          });
        }
        function Offer(book_id) {
            const data = {
                'user_id': '{{ current_user.id }}',
                'book_id': book_id
            };
            $.ajax({
                url: 'http://100.25.222.248:5500/api/v1/offers',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                    alert('added to offer list');
                }
            });
        }

        $('.wish-btn').on('click', function () {
            const book_id = $(this).attr('id');
            Wish(book_id);
        });
        $('.offer-btn').on('click', function () {
            const book_id = $(this).attr('id');
            Offer(book_id);
        });
      });

    </script>
    {% endblock %}
    <footer>
      <div class="trade-mark">Tradit | © Copyright 2023</div>
    </footer>
  </body>
</html>