{% extends 'login.html' %}
{% block container %}
<div class="dashboard-container">
    <div class="dashboard-transparant">
        <div class="user_rooms">
            <div class="user-box">
                {% for user in users %}
                {% if user.id != current_user.id %}
                    <div class="user-name">
                        <img href="" class="commenter-profile" src="../static/images/{{ user['id'] }}.jpg" alt="">
                        <a href="{{ url_for('app_pages.room', user_id=user['id']) }}">{{ user['name'] }}</a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="rooms">
                <div class="swappers">Messages</div>
                <div class="cont">
                    {% for msg in rooms_updates %}
                    {% if msg.receiver_id %}
                        <div class="comments-box-sent">
                            <div class="comment" >{{ msg.message }}</div>
                            <a href="{{ url_for('app_pages.room', user_id=msg.receiver_id) }}">
                                <img class="commenter-profile" src="../static/images/{{msg.receiver_id}}.jpg" alt="">
                            </a>
                        </div>
                    {% else %}
                        <div class="comments-box">
                            <a href="{{ url_for('app_pages.room', user_id=msg.user_id) }}">
                                <img class="commenter-profile" src="../static/images/{{msg.user_id}}.jpg" alt="">
                            </a>
                            <div class="comment" >{{ msg.message }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
