@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham\ Book\ Font\ 2.otf') format('woff');
}
.dashboard-container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
    height: 967px;
    width: 100%;
    display: flex;
    font-family: Gotham Book;
    color: black !important;
}
.dashboard-transparant {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.find-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.find-text {
    font-size: 24px;
    font-family: Roboto, arial;
    font-weight: 500;
    margin-bottom: 8px;

}
.input-btn-search {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid rgb(211, 211, 211);
    border-right: none;
    border-radius: 24px 0 0 24px;
    background-color: transparent;
    height: 40px;
    width: 440px;
    padding-left: 10px;
    outline: none;
    font-size: 18px;
    font-family: Roboto, arial;
    font-weight: 400;
    border-right: none;
}
.search-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}
.search-btn {
    background-color: transparent;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0 24px 24px 0;
    cursor: pointer;
    height: 44px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;

}
.search-btn:focus {
    outline: none; 
}

.search-icon {
    width: 16px;
    height: 16px;
}
.search-icon:hover{
    width: 24px;
    height: 24px;
}
.search-icon:active{
    width: 24px;
    height: 24px;
    opacity: 0.15;
}

.grid-container {
    display: flex;
    overflow: hidden;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .grid-row {
    display: flex;
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  .grid-item {
    width: 180px;
    height: 350px;
    background-color: white;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 5px;
  }
 
  .book-photo-div {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book-infos {
    flex: 2;
  }
  .book-image {
    min-height: 170px;
    max-height: 200px;
    min-width: 120px;
    max-width: 165px;
  }
.book-title {
    font-family: Roboto, Arial;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.15s;
}
.book-title a {
    text-decoration: none;
    color: black;
}
.book-title:hover{
    opacity: 0.7;
}
.book-title:active{
    opacity: 0.3;
}
.book-author {
    font-family: Roboto, Arial;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.book-genre {
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: rgb(116, 116, 116);
}
.book-price {
    font-family: Roboto, Arial;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.list_title {
    font-family: Arial;
    font-weight: 700;
    font-size: 28px;
    color: rgb(80, 80, 80);
    margin: 30px;
    margin-left: 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.search-result {
    display: flex;
    flex-direction: column;
}
.search-p {
    color: rgb(113, 113, 113);
    font-family: Roboto, Arial;
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}
.wish-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    height: 34px;
    margin-right: 10px;
}
.offer-btn {
    background-color: rgb(56, 159, 249);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 30%;
    height: 34px;
}
.wish-btn:hover, .offer-btn:hover {
    opacity: 0.7;
}
.wish-btn:active {
    background-color: white;
    color: #4caf50;
}
.offer-btn:active {
    background-color: white;
    color:  rgb(56, 159, 249);
}
