/* Add this CSS to your existing stylesheet or create a new one */

.user-profile {
    display: flex;
    flex-direction: row;
    font-family: Roboto, Arial;
}

.user-profile-infos{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.profile-name {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}
.user-profile-pic img {
    width: 120px;
    border-radius: 50px;
}


.message-box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    height: 500px;
    margin: 20px 20px;
    position: relative;
}

.messages {
    max-height: 380px;
    overflow-y: auto;
}
.inputs{
    margin: 5px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right:5px;
    left: 5px;
    display: flex;
    flex-direction: row;
}
.input-msg {
    padding: 5px;
    margin-right: 5px;
    border-radius: 8px;
    border: none;
    width: 70%;
    height: 34px;
}

.send-btn {
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p.msg{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px; 
}


.sent-message-p {
    background-color: #4caf50;
    margin-left: 50px;
    
    
}

.received-message-p {
    background-color: #e0e0e0;
    margin-right: 50px;
   
}

.sent-message-div {
    font-display: flex;

}
.received-message-div {
    font-display: flex;
}

.user-profile {
    width: 100%;
    height: 100%;
    background-image: url(../images/istockphoto-1203683966-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.time-position {
    font-size: 12px;
    font-weight: 500;
}
